<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9EyqVLDjmru8mamOXfUVh9wrQ_mb5a2w</string>
	<key>GCM_SENDER_ID</key>
	<string>861239158601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>grind-d848b</string>
	<key>STORAGE_BUCKET</key>
	<string>grind-d848b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861239158601:ios:d64387c236ae20538f9c98</string>
</dict>
</plist>